@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --global-text-color: #fff;
  --global-margin-top: 5vh;
}

body {
  font-family: Nunito Sans, sans-serif;
  color: var(--global-text-color);
  font-size: calc(.25em + 1.5vw);
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.onclick {
  color: var(--global-text-color);
  text-decoration: none;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

.navigation .the-only-one {
  display: flex;
  justify-content: center;
}

.navigation .the-only-one .link-to {
  display: flex;
  width: 100%;
  justify-content: center;
}

.navigation ul li {
  display: flex;
  align-items: center;
}

.notfound {
  color: #000;
}

@media (max-width: 550px) {
  body {
    font-size: calc(.25em + 2.75vw);
  }
  
  .slide2 .content .wrap {
    font-size: calc(3vw);
    flex-direction: column;
  }
  
  .slide2 .content .wrap .beginning {
    width: 85%;
  }
  
  .slide2 .content .wrap .end {
    width: 85%;
  }
  
  .slide2 .content .end .walls {
    display: none;
  }
  
  .slide3 .content {
    font-size: calc(4vw)
  }
  
  .slide3 .content .beginning {
    display: flex;
    justify-content: center;
  }
  
  .slide3 .content .container .beginning .text {
    margin: 0;
    width: 85%;
  }
  
  .slide3 .content .end .platooning {
    display: none;
  }

  .slide3 .content .container .end .text {
    width: 85%;
  }

  .slide4 .content {
    font-size: calc(.25em + 2vw);
  }
}
